<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Status</div>
      <div class="col col-2">Problem</div>
      <div class="col col-3">Difficulty</div>
      <div class="col col-4">Acceptance</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Status">true</div>
      <div class="col col-2" data-label="Problem">Two Sum</div>
      <div class="col col-3" data-label="Difficulty">Easy</div>
      <div class="col col-4" data-label="Acceptance">95%</div>
    </li>
  </ul>
</div>