
    <section class="live">
      <div class="live-border">
        <h4>.coderoot</h4>
        <div class="text-xl">Elevate Your Coding Skills</div>
        <div class="sub-text">
          Transition from passive learning to active problem-solving. Access 75+ coding challenges across various topics and difficulty levels—plus comprehensive solutions.
        </div>

        <div class="list">
          <router-outlet></router-outlet>
        </div>
          <div class="footer-container">
            <div class="divider"></div>
          </div>
      </div>
      
    </section>